
# /
/sandbox
/target
/bin
/blib
/public
/log
/temp
/tools
/.settings
/.project
/.classpath
/todo.org
/wiki.org
/test-output
/misc/web-api.md
*~
.*
!.gitignore
# /src/main/resources/
/src/main/resources/server.properties
/src/main/resources/krill.properties
/src/main/resources/korap.conf
/dependency-reduced-pom.xml
/bin
/src/test/resources/sample-index
/src/test/java/de/ids_mannheim/korap/collection/TestWithExternalIndex.java
/krill_cache/
/vc
