
# /
/sandbox
/target
/bin
/blib
/public
/log
/temp
/tools
/.settings
/.project
/.classpath
/todo.org
/wiki.org
*~
.*
!.gitignore
# /src/main/resources/
/src/main/resources/server.properties
/src/main/resources/krill.properties
/src/main/resources/korap.conf
/dependency-reduced-pom.xml
/bin
