[project]
	description = A Corpusdata Retrieval Index using Lucene for Look-Ups
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marc Kupietz (kupietz)
[access "refs/for/refs/*"]
	read = group user/Marc Kupietz (kupietz)
	push = group user/Marc Kupietz (kupietz)
	label-Code-Review = -2..+2 group user/Marc Kupietz (kupietz)
	label-Verified = -1..+1 group user/Marc Kupietz (kupietz)
	rebase = group user/Marc Kupietz (kupietz)
	removeReviewer = group user/Marc Kupietz (kupietz)
	submit = group user/Marc Kupietz (kupietz)
[access "refs/heads/*"]
	read = group user/Marc Kupietz (kupietz)
	create = group user/Marc Kupietz (kupietz)
	push = +force group user/Marc Kupietz (kupietz)
	pushMerge = group user/Marc Kupietz (kupietz)
[access "refs/tags/*"]
	push = +force group user/Marc Kupietz (kupietz)
	pushTag = group user/Marc Kupietz (kupietz)
	pushSignedTag = group user/Marc Kupietz (kupietz)
