[project]
	description = A Corpusdata Retrieval Index using Lucene for Look-Ups
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kupietz
[access "refs/for/refs/*"]
	read = group user/kupietz
	push = group user/kupietz
	label-Code-Review = -2..+2 group user/kupietz
	label-Verified = -1..+1 group user/kupietz
	rebase = group user/kupietz
	removeReviewer = group user/kupietz
	submit = group user/kupietz
[access "refs/heads/*"]
	read = group user/kupietz
	create = group user/kupietz
	push = +force group user/kupietz
	pushMerge = group user/kupietz
[access "refs/tags/*"]
	push = +force group user/kupietz
	pushTag = group user/kupietz
	pushSignedTag = group user/kupietz
